<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDM1nRQX9Z_bZACgFhZ--aucIKFJEFEcAI</string>
	<key>GCM_SENDER_ID</key>
	<string>232763023429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notkutusuapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>biruninot-e44cb</string>
	<key>STORAGE_BUCKET</key>
	<string>biruninot-e44cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232763023429:ios:187adebb3f8fd82faf032c</string>
</dict>
</plist>